.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    border: 0.5px solid #9b9b9b;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.30);
    transition: 0.4s ease-in;
}

.card > img{
    object-fit: contain;
    width: 240px;
}

.card__movieHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 220px;
}



.card__movieHeader > p{
    font-size: 12px;
}

.card__title{
    font-weight: 700;
}

.card__rating{
    color:#9b9b9b;
}

.card__movieDesc{
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis ;
}

.card:hover{
    opacity: 0.85;
}


