.detail{
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
}

.detail > img{
    object-fit: contain;
    /* height: 200px;  */
    width:40%;
    margin-right: 30px;
    border: #4b4b4b 1px solid;
    border-radius: 5px;
}

.detail__infoContainer{
    color:#4b4b4b;
    display: flex;
    flex-direction: column;
}

.detail__movieTitle{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail__movieTitle > span {
    color:#9b9b9b;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 500;
}

.detail__movieFacts, .detail__cast{
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

.detail__description{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

@media all and (max-width:940px) and (min-width:660px){
   /* .detail > img{
    height: 140px;
   } */

   .detail__movieTitle{
    font-size: 14px;
    margin-bottom: 6px;
   }

   .detail__movieTitle > span{
    font-size: 11px;
   }

   .detail__movieFacts, .detail__cast, .detail__description{
    font-size: 11px;
   }

   .detail__description{
    margin-top: 3px;
   }
}

@media all and (max-width:660px){
    /* .detail>img {
        height: 80px;
    } */
    .detail__movieTitle{
        font-size: 12px;
        margin-bottom: 6px;
       }
    
       .detail__movieTitle > span{
        font-size: 9px;
       }
    
       .detail__movieFacts, .detail__cast, .detail__description{
        font-size: 9px;
        margin-top: 3px;
       }
}