.list{
    display: flex;
}

.list__cardContainer{
    /* padding: 20px 30px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: flex;

}

.list__cardChildContainer{
    padding: 20px 30px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media all and (max-width:580px) {
    .list__cardChildContainer{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
}